# Group project

###### Group members: 

- Fajartri Anggoro
- Mohammad Hadi Alipour Motlagh
- Jeanne Harling

### Importing libraries and data

In [2]:
# Import libraries
library(data.table)  # Data manipulate
library(mlr)         # ML toolkit
library(caret)       # ML toolkit
library(ggplot2)     # Visualization
library(plotrix)     # Draw circle
library(rgl)         # 3D plots
library(tidyverse)
library(tracerer)
library(ggplot2)
library(corrplot)
library(DataExplorer)
library(randomForest)
library(tree)
library(e1071)  
library(MASS)
library(ROCR)
library(Hmisc)
library(correlation)

Warning message:
"package 'data.table' was built under R version 4.1.2"
Loading required package: ParamHelpers

Warning message: 'mlr' is in 'maintenance-only' mode since July 2019.
Future development will only happen in 'mlr3'
(<https://mlr3.mlr-org.com>). Due to the focus on 'mlr3' there might be
uncaught bugs meanwhile in {mlr} - please consider switching.

Loading required package: ggplot2

Loading required package: lattice


Attaching package: 'caret'


The following object is masked from 'package:mlr':

    train



Attaching package: 'rgl'


The following object is masked from 'package:plotrix':

    mtext3d


Warning message:
"package 'tidyverse' was built under R version 4.1.2"
-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v tibble  3.1.5     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.1.1     v forcats 0.5.1
v purrr   0.3.4

Warning message:
"package 'tibble' was built under R version 4.1.1"
Warning message:
"package 'tidyr' was built under R version 4.1.1"
Warning message:
"package 'readr' was built under R version 4.1.2"
Warning message:
"package 'purrr' was built under R version 4.1.1"
Warning message:
"package 'dplyr' was built under R version 4.1.1"
Warning message:
"package 'stringr' was built under R version 4.1.2"
Warning message:
"package 'forcats' was built under R version 4.1.2"
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::between()   masks data.table::between()
x dplyr::filter()    masks stats::filter()
x dplyr::first()     masks data.table::first()
x dplyr::lag()       masks stats::lag()
x dplyr::last()      masks data.table::last()
x purrr::lift()      masks caret::lift()
x purrr::transpose() masks data.table::transpose()

Warning message:
"package 'corrplot' was built under R version 4.1.2"
corrplot 0.92 loaded

Warning message:
"package 'randomForest' was built under R version 4.1.2"
randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.


Attaching package: 'randomForest'


The following object is masked from 'package:dplyr':

    combine


The following object is masked from 'package:ggplot2':

    margin


Warning message:
"package 'tree' was built under R version 4.1.2"
Registered S3 method overwritten by 'tree':
  method     from
  print.tree cli

Warning message:
"package 'e1071' was built under R version 4.1.2"

Attaching package: 'e1071'


The following object is masked from 'package:mlr':

    impute



Attaching package: 'MASS'


The following object is masked from 'package:dplyr':

    select



Attaching package: 'ROCR'


The following object is masked from 'package:mlr':

    performance


Loading required package: survival


Attaching package: 'survival'


The following object is masked from 'package:caret':

    cluster


Loading required package: Formula


Attaching package: 'Hmisc'


The following object is masked from 'package:e1071':

    impute


The following objects are masked from 'package:dplyr':

    src, summarize


The following object is masked from 'package:mlr':

    impute


The following objects are masked from 'package:base':

    format.pval, units

In [249]:
# Importing datasets

train <- read.csv("C:/Users/jharling/OneDrive - IESEG/Documents/GitHub/SML_Group_MBD_2022/Data/bank_mkt_train.csv")
test <- read.csv("C:/Users/jharling/OneDrive - IESEG/Documents/GitHub/SML_Group_MBD_2022/Data/bank_mkt_test.csv")

In [250]:
# Checking how the table looks like 
# We have 20k rows and 21  variables
train

      client_id age job           marital  education           default housing
1     29925     42  management    married  basic.9y            no      no
2     37529     35  unemployed    married  university.degree   no      yes
3      2757     44  technician    married  basic.9y            no      yes
4      9642     45  services      married  high.school         no      yes
5     14183     45  unknown       married  unknown             unknown unknown
6     15180     38  technician    married  professional.course no      no
7     27168     33  technician    married  professional.course no      no
8      9097     38  blue-collar   single   basic.9y            unknown yes
9     30538     29  blue-collar   single   unknown             no      yes
10    28981     34  admin.        divorced university.degree   no      yes
11     7989     47  blue-collar   married  high.school         unknown yes
12    13536     30  blue-collar   single   basic.9y            no      yes
13    24541     30  admin.        married  basic.6y            no      yes
14     6216     35  services      married  basic.6y            unknown yes
15    17983     45  management    married  professional.course no      no
16    29394     37  entrepreneur  married  university.degree   unknown yes
17    28825     48  blue-collar   married  basic.6y            no      no
18       41     47  admin.        married  basic.6y            unknown yes
19     7284     35  blue-collar   married  basic.9y            no      yes
20    28502     34  technician    married  professional.course no      no
21    11473     60  technician    married  university.degree   unknown yes
22     6134     35  services      single   high.school         no      no
23    33523     32  technician    married  university.degree   no      yes
24    21812     49  blue-collar   married  unknown             unknown yes
25    39895     45  technician    single   professional.course no      no
26     9326     33  blue-collar   single   basic.9y            unknown yes
27    26510     34  management    single   university.degree   no      unknown
28    20960     57  retired       married  university.degree   no      yes
29    14403     50  technician    single   professional.course no      no
30    28799     49  housemaid     married  university.degree   no      yes
<U+22EE>     <U+22EE>  <U+22EE> <U+22EE>      <U+22EE> <U+22EE>            <U+22EE> <U+22EE>
19971  3036     33  self-employed married  university.degree   no      no
19972 19102     31  admin.        single   university.degree   unknown yes
19973 37729     46  technician    married  professional.course no      no
19974 20186     50  self-employed married  unknown             no      unknown
19975 38059     43  admin.        divorced university.degree   unknown no
19976  8099     32  technician    divorced professional.course no      no
19977 15178     37  housemaid     married  basic.4y            unknown no
19978 18920     47  technician    divorced high.school         no      yes
19979 19757     31  admin.        single   university.degree   no      yes
19980  9327     31  admin.        single   university.degree   unknown no
19981 16641     51  technician    married  professional.course no      yes
19982  9656     30  admin.        married  university.degree   no      yes
19983 37330     42  technician    married  professional.course unknown yes
19984 34568     32  blue-collar   married  basic.6y            no      yes
19985 23095     41  blue-collar   married  basic.6y            no      yes
19986 25383     48  admin.        divorced high.school         no      no
19987 16918     31  admin.        NA       university.degree   no      yes
19988  4245     35  blue-collar   single   unknown             no      yes
19989 21920     39  blue-collar   married  basic.4y            unknown yes
19990 29000     21  student       single   high.school         no      no
19991  6627     28  admin.        single   university.degree   no      yes
19992 35702     29  admin.        single   university.degree   no      yes
19993 38555     49  services      married  basic.4y            unknown no
19994 23289     38  blue-collar   divorced high.school         no      yes
19995  2969     36  blue-collar   single   high.school         no      yes
19996 13724     45  unknown       unknown  unknown             no      yes
19997 29863     26  admin.        single   university.degree   no      yes
19998  9841     33  admin.        married  high.school         no      yes
19999 36432     43  admin.        married  high.school         no      yes
20000 15639     55  blue-collar   married  basic.9y            no      yes
      loan    contact   month <U+22EF>        campaign pdays previous poutcome
1     no      cellular  jul   <U+22EF> 1        999   0        nonexistent
2     no      telephone jun   <U+22EF> 4        999   0        nonexistent
3     yes     cellular  may   <U+22EF> 1        999   0        nonexistent
4     no      cellular  apr   <U+22EF> 1        999   0        nonexistent
5     unknown telephone may   <U+22EF> 1        999   0        nonexistent
6     no      telephone may   <U+22EF> 2        999   0        nonexistent
7     yes     cellular  apr   <U+22EF> 1         NA   1        failure
8     no      telephone may   <U+22EF> 1        999   0        nonexistent
9     no      cellular  may   <U+22EF> 1        999   1        failure
10    yes     cellular  aug   <U+22EF> 1        999   0        nonexistent
11    no      telephone jun   <U+22EF> 3        999   0        nonexistent
12    no      cellular  jul   <U+22EF> 1        999   0        nonexistent
13    no      cellular  jul   <U+22EF> 1        999   0        nonexistent
14    no      cellular  may   <U+22EF> 2        999   0        nonexistent
15    no      cellular  nov   <U+22EF> 1        999   0        nonexistent
16    no      cellular  nov   <U+22EF> 2        999   1        failure
17    no      telephone jun   <U+22EF> 2        999   0        nonexistent
18    no      cellular  apr   <U+22EF> 2        999   1        failure
19    no      telephone may   <U+22EF> 1        999   0        nonexistent
20    no      cellular  apr   <U+22EF> 3        999   0        nonexistent
21    no      telephone may   <U+22EF> 5        999   0        nonexistent
22    no      cellular  may   <U+22EF> 2        999   1        failure
23    no      cellular  may   <U+22EF> 1        999   0        nonexistent
24    no      telephone may   <U+22EF> 1        999   0        nonexistent
25    no      telephone may   <U+22EF> 2        999   0        nonexistent
26    no      telephone jun   <U+22EF> 4        999   0        nonexistent
27    unknown telephone nov   <U+22EF> 5        999   0        nonexistent
28    no      telephone may   <U+22EF> 1        999   0        nonexistent
29    yes     cellular  jul   <U+22EF> 8        999   0        nonexistent
30    no      cellular  aug   <U+22EF> 2        999   0        nonexistent
<U+22EE>     <U+22EE> <U+22EE>  <U+22EE> <U+22F1> <U+22EE> <U+22EE> <U+22EE> <U+22EE>
19971 no      cellular  aug   <U+22EF>  3       999    0       nonexistent
19972 no      cellular  aug   <U+22EF>  1       999    0       nonexistent
19973 no      telephone may   <U+22EF>  1       999    0       nonexistent
19974 unknown cellular  jul   <U+22EF>  2       999    0       nonexistent
19975 no      cellular  aug   <U+22EF>  2       999    0       nonexistent
19976 no      cellular  nov   <U+22EF>  1       999    0       nonexistent
19977 yes     cellular  aug   <U+22EF>  2       999    0       nonexistent
19978 no      telephone jun   <U+22EF>  2       999   NA       nonexistent
19979 no      cellular  aug   <U+22EF>  1       999    0       nonexistent
19980 yes     cellular  aug   <U+22EF>  1       999    0       nonexistent
19981 no      cellular  oct   <U+22EF>  6         6    3       failure
19982 no      cellular  aug   <U+22EF>  3       999    0       nonexistent
19983 no      telephone may   <U+22EF>  3       999    0       nonexistent
19984 no      telephone may   <U+22EF>  3       999    0       nonexistent
19985 no      cellular  jul   <U+22EF>  3       999    0       nonexistent
19986 yes     telephone may   <U+22EF>  2       999    0       nonexistent
19987 yes     cellular  sep   <U+22EF>  1       999    0       nonexistent
19988 no      telephone jul   <U+22EF> NA       999    0       nonexistent
19989 no      telephone may   <U+22EF>  1       999    0       nonexistent
19990 no      cellular  oct   <U+22EF>  1       999    0       nonexistent
19991 no      cellular  sep   <U+22EF>  1         1    3       success
19992 no      cellular  aug   <U+22EF>  1       999    0       nonexistent
19993 no      cellular  aug   <U+22EF>  2       999    0       nonexistent
19994 no      cellular  may   <U+22EF>  6       999    1       failure
19995 no      cellular  jul   <U+22EF> 24       999    0       nonexistent
19996 yes     cellular  jul   <U+22EF>  1       999    0       nonexistent
19997 no      cellular  may   <U+22EF>  2       999    1       failure
19998 yes     cellular  may   <U+22EF>  1       999    1       failure
19999 no      telephone jul   <U+22EF> 10       999    0       nonexistent
20000 yes     cellular  aug   <U+22EF>  3       999    0       nonexistent
      emp.var.rate cons.price.idx cons.conf.idx euribor3m nr.employed subscribe
1      1.4         93.918         -42.7         4.968     5228.1      0
2      1.4         94.465         -41.8         4.960     5228.1      0
3     -1.8         92.893         -46.2         1.264     5099.1      0
4     -1.8         93.075         -47.1         1.453     5099.1      0
5      1.1         93.994         -36.4         4.859     5191.0      0
6      1.1         93.994         -36.4         4.858     5191.0      0
7     -1.8         93.075         -47.1         1.405     5099.1      1
8      1.1         93.994         -36.4         4.857     5191.0      0
9     -1.8         92.893         -46.2         1.250     5099.1      0
10     1.4         93.444         -36.1         4.965     5228.1      0
11     1.4         94.465         -41.8         4.961     5228.1      0
12     1.4         93.918         -42.7         4.963     5228.1      0
13     1.4         93.918         -42.7         4.958     5228.1      0
14    -1.8         92.893         -46.2         1.344     5099.1      0
15    -0.1         93.200         -42.0         4.076     5195.8      1
16    -0.1         93.200         -42.0         4.191     5195.8      0
17     1.4         94.465         -41.8         4.866     5228.1      0
18    -1.8         93.075         -47.1         1.410     5099.1      0
19     1.1         93.994         -36.4         4.858     5191.0      0
20    -1.8         93.075         -47.1         1.405     5099.1      0
21     1.1         93.994         -36.4         4.855     5191.0      0
22    -1.8         92.893         -46.2         1.334     5099.1      0
23    -1.8         92.893         -46.2         1.281     5099.1      0
24     1.1         93.994         -36.4         4.856     5191.0      0
25     1.1         93.994         -36.4         4.856     5191.0      0
26     1.4         94.465         -41.8         4.865     5228.1      0
27    -0.1         93.200         -42.0         4.021     5195.8      0
28     1.1         93.994         -36.4         4.856     5191.0      0
29     1.4         93.918         -42.7         4.962     5228.1      0
30     1.4         93.444         -36.1         4.967     5228.1      0
<U+22EE>     <U+22EE>     <U+22EE>       <U+22EE>      <U+22EE>  <U+22EE>    <U+22EE>
19971  1.4         93.444         -36.1         4.965     5228.1      0
19972  1.4         93.444         -36.1         4.964     5228.1      0
19973  1.1         93.994         -36.4         4.860     5191.0      0
19974 -2.9         92.469         -33.6         0.914     5076.2      0
19975  1.4         93.444         -36.1         4.966     5228.1      0
19976 -0.1         93.200         -42.0         4.153     5195.8      0
19977  1.4         93.444         -36.1         4.965     5228.1      0
19978  1.4         94.465         -41.8         4.865     5228.1      0
19979  1.4         93.444         -36.1         4.965     5228.1      0
19980  1.4         93.444         -36.1         4.968     5228.1      0
19981 -3.4         92.431         -26.9         0.754     5017.5      0
19982  1.4         93.444         -36.1         4.963     5228.1      0
19983  1.1         93.994         -36.4         4.864     5191.0      0
19984  1.1         93.994         -36.4         4.860     5191.0      0
19985  1.4         93.918         -42.7         4.968     5228.1      0
19986  1.1         93.994         -36.4         4.856     5191.0      0
19987 -1.1         94.199         -37.5         0.877     4963.6      1
19988  1.4         93.918         -42.7         4.960     5228.1      0
19989  1.1             NA         -36.4         4.859     5191.0      0
19990 -3.4         92.431            NA         0.728     5017.5      1
19991 -3.4         92.379         -29.8         0.773     5017.5      1
19992  1.4         93.444         -36.1         4.963     5228.1      0
19993  1.4         93.444         -36.1         4.963     5228.1      1
19994 -1.8         92.893         -46.2         1.344     5099.1      0
19995  1.4         93.918         -42.7         4.968     5228.1      0
19996  1.4         93.918         -42.7         4.957     5228.1      1
19997 -1.8         92.893         -46.2         1.299     5099.1      0
19998 -1.8         92.893         -46.2         1.299     5099.1      0
19999  1.4         93.918         -42.7         4.960     5228.1      0
20000  1.4         93.444         -36.1         4.963     5228.1      0

### Cleaning Train Table

In [251]:
# Sum of missing values in train bank marketing data set
sum(is.na(train))

[1] 3664

In [252]:
# Missing values per variables in train
missing_values <- sapply(train, function(x) sum(is.na(x)))
missing_values

     client_id            age            job        marital      education
             0            202            161            199            170
       default        housing           loan        contact          month
           214            195            219            217            199
   day_of_week       campaign          pdays       previous       poutcome
           185            203            185            209            175
  emp.var.rate cons.price.idx  cons.conf.idx      euribor3m    nr.employed
           165            181            197            204            184
     subscribe
             0

As our missing data represent only a maximum of 1% of the total observation in each variable, it is possible to drop them. In order to check if our dropping idea was right we will check how many observations has been deleted in total. If the dropping will result in more than 10% lose of data then we will keep and replace the missing values.

In [253]:
# Dropping all na

traindrop <- train %>% drop_na()
nrow(traindrop)

[1] 16633

We can see that this technique would lead to a huge lose of data, more than 16% of our total observations. We will then keep and replace our missing data: 
- With a new category 'other' for categorical data unless this category already exists
- With a new category 'other' for logical data (as missing data represents less than 5% of observations)
- With the median or mean for numerical values

We do not need to create an indicator variable for the missing data as the train and test set are separated already. We just need to process the same way for both sets.

 #### 1. Categorical data 
It represents job, marital status, education, contact, month, day_of_week and poutcome

In [254]:
# Replacing NA for categorical data

# NA for job: As an 'unknown' category already exists then we replace the missing value with it
train$job = train$job %>% replace_na('unkown')

# NA for marital status: As an 'unknown' category already exists then we replace the missing value with it
train$marital = train$marital %>% replace_na('unkown')

# NA for education: As an 'unknown' category already exists then we replace the missing value with it
train$education = train$education %>% replace_na('unkown')

# NA for contact: As 'unknown' category doesn't exist yet we create it
train$contact = train$contact %>% replace_na('unkown')

# NA for month: As 'unknown' category doesn't exist yet we create it
train$month = train$month %>% replace_na('unkown')

# NA for day_of_week: As 'unknown' category doesn't exist yet we create it
train$day_of_week = train$day_of_week %>% replace_na('unkown')

# NA for poutcome: As an 'nonexistent' category already exists then we replace the missing value with it
train$poutcome = train$poutcome %>% replace_na('nonexistent')

In [255]:
# Creating factors for our categorical data 

train$job = as.factor(train$job)
train$marital = as.factor(train$marital)
train$education = as.factor(train$education)
train$contact = as.factor(train$contact)
train$month = as.factor(train$month)
train$day_of_week = as.factor(train$day_of_week)
train$poutcome = as.factor(train$poutcome)

#### 2. Logical data
It represents default, housing, loan and subscribe (target)

In [256]:
# Dealing with NA for logical data

# NA for default: As an 'unknown' category already exists then we replace the missing value with it
train$default = train$default %>% replace_na('unkown')

# NA for housing: As an 'unknown' category already exists then we replace the missing value with it
train$housing= train$housing %>% replace_na('unkown')

# NA for loan: As an 'unknown' category already exists then we replace the missing value with it
train$loan = train$loan %>% replace_na('unkown')

# Subscribe doesn't have any missing value

In [257]:
# Creating factors for our logical data 

train$default = as.factor(train$default)
train$housing = as.factor(train$housing)
train$loan = as.factor(train$loan)
train$subscribe = as.factor(train$subscribe)

#### 3. Numerical data 

*For numerical data we need to create indicators to track the imputation*

- age will be replaced by the median
- campaign: the higher the better, it is not categorical
- Pdays: replacing 999 by zero and creating a new variable (or checking how many zeros first)
- previous: replacing by the median
- emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed will be replaced by the mean

In [258]:
# We will replace age by the median
# -> we can also create categorical variable for the age depending of our model result

# First step: creating a new variable 
train$missing_age <- ifelse(is.na(train$age) == TRUE, 1, 0)

# Second step: replacing by the median
train$age[is.na(train$age)]<-mean(train$age,na.rm=TRUE)

In [259]:
# For campaign variable

# We create a new 'campaign_missing' variable: 1 for missing and 0 otherwise
train$missing_campaign <- ifelse(is.na(train$campaign) == TRUE, 1, 0)

# We will replace campaign missing value by the median 
train$campaign[is.na(train$campaign)]<-mean(train$campaign,na.rm=TRUE)

In [260]:
# Checking if it was correctly assign 
#checkingmissing = train[,c('campaign','missing_campaign')]
#checkingmissing[order(checkingmissing$campaign),]

In [261]:
# Checking how many people with 0. 
#We do not have a lot of data in zero, we can assign a 1 instead of 0 for these clients
# -> We can also assign categorical variable instead of numerical later on
as.data.frame(table(train$pdays))

   Var1 Freq
1  0        8
2  1        9
3  2       30
4  3      221
5  4       62
6  5       21
7  6      209
8  7       28
9  8       11
10 9       33
11 10      27
12 11      12
13 12      27
14 13      14
15 14       7
16 15      12
17 16       5
18 17       3
19 18       4
20 19       1
21 21       1
22 22       3
23 26       1
24 27       1
25 999  19065

In [262]:
# For pdays variable

# First we replace pdays 0 values with 1 (the difference in days for 0 and 1 is not huge)
train["pdays"][train["pdays"] == 0] <- 1

# We create a new indicator variable for '999' to track the replacement
train$replace999 <- ifelse(train$pdays == 999, 1, 0)
train$replace999 <- ifelse(is.na(train$replace999) == TRUE, 1, 0)

# We replace pdays 999 values with zero (So the zero is more significant for people without contact)
train["pdays"][train["pdays"] == 999] <- 0

# We track the NA values as a new variable
train$missing_pdays <- ifelse(is.na(train$pdays) == TRUE, 1, 0)

# We can finally replace the NA values by zero 
train$pdays = train$pdays %>% replace_na(0)

In [263]:
train

      client_id age job           marital  education           default housing
1     29925     42  management    married  basic.9y            no      no
2     37529     35  unemployed    married  university.degree   no      yes
3      2757     44  technician    married  basic.9y            no      yes
4      9642     45  services      married  high.school         no      yes
5     14183     45  unknown       married  unknown             unknown unknown
6     15180     38  technician    married  professional.course no      no
7     27168     33  technician    married  professional.course no      no
8      9097     38  blue-collar   single   basic.9y            unknown yes
9     30538     29  blue-collar   single   unknown             no      yes
10    28981     34  admin.        divorced university.degree   no      yes
11     7989     47  blue-collar   married  high.school         unknown yes
12    13536     30  blue-collar   single   basic.9y            no      yes
13    24541     30  admin.        married  basic.6y            no      yes
14     6216     35  services      married  basic.6y            unknown yes
15    17983     45  management    married  professional.course no      no
16    29394     37  entrepreneur  married  university.degree   unknown yes
17    28825     48  blue-collar   married  basic.6y            no      no
18       41     47  admin.        married  basic.6y            unknown yes
19     7284     35  blue-collar   married  basic.9y            no      yes
20    28502     34  technician    married  professional.course no      no
21    11473     60  technician    married  university.degree   unknown yes
22     6134     35  services      single   high.school         no      no
23    33523     32  technician    married  university.degree   no      yes
24    21812     49  blue-collar   married  unknown             unknown yes
25    39895     45  technician    single   professional.course no      no
26     9326     33  blue-collar   single   basic.9y            unknown yes
27    26510     34  management    single   university.degree   no      unknown
28    20960     57  retired       married  university.degree   no      yes
29    14403     50  technician    single   professional.course no      no
30    28799     49  housemaid     married  university.degree   no      yes
<U+22EE>     <U+22EE>  <U+22EE> <U+22EE>      <U+22EE> <U+22EE>            <U+22EE> <U+22EE>
19971  3036     33  self-employed married  university.degree   no      no
19972 19102     31  admin.        single   university.degree   unknown yes
19973 37729     46  technician    married  professional.course no      no
19974 20186     50  self-employed married  unknown             no      unknown
19975 38059     43  admin.        divorced university.degree   unknown no
19976  8099     32  technician    divorced professional.course no      no
19977 15178     37  housemaid     married  basic.4y            unknown no
19978 18920     47  technician    divorced high.school         no      yes
19979 19757     31  admin.        single   university.degree   no      yes
19980  9327     31  admin.        single   university.degree   unknown no
19981 16641     51  technician    married  professional.course no      yes
19982  9656     30  admin.        married  university.degree   no      yes
19983 37330     42  technician    married  professional.course unknown yes
19984 34568     32  blue-collar   married  basic.6y            no      yes
19985 23095     41  blue-collar   married  basic.6y            no      yes
19986 25383     48  admin.        divorced high.school         no      no
19987 16918     31  admin.        unkown   university.degree   no      yes
19988  4245     35  blue-collar   single   unknown             no      yes
19989 21920     39  blue-collar   married  basic.4y            unknown yes
19990 29000     21  student       single   high.school         no      no
19991  6627     28  admin.        single   university.degree   no      yes
19992 35702     29  admin.        single   university.degree   no      yes
19993 38555     49  services      married  basic.4y            unknown no
19994 23289     38  blue-collar   divorced high.school         no      yes
19995  2969     36  blue-collar   single   high.school         no      yes
19996 13724     45  unknown       unknown  unknown             no      yes
19997 29863     26  admin.        single   university.degree   no      yes
19998  9841     33  admin.        married  high.school         no      yes
19999 36432     43  admin.        married  high.school         no      yes
20000 15639     55  blue-collar   married  basic.9y            no      yes
      loan    contact   month <U+22EF>        emp.var.rate cons.price.idx
1     no      cellular  jul   <U+22EF>  1.4         93.918
2     no      telephone jun   <U+22EF>  1.4         94.465
3     yes     cellular  may   <U+22EF> -1.8         92.893
4     no      cellular  apr   <U+22EF> -1.8         93.075
5     unknown telephone may   <U+22EF>  1.1         93.994
6     no      telephone may   <U+22EF>  1.1         93.994
7     yes     cellular  apr   <U+22EF> -1.8         93.075
8     no      telephone may   <U+22EF>  1.1         93.994
9     no      cellular  may   <U+22EF> -1.8         92.893
10    yes     cellular  aug   <U+22EF>  1.4         93.444
11    no      telephone jun   <U+22EF>  1.4         94.465
12    no      cellular  jul   <U+22EF>  1.4         93.918
13    no      cellular  jul   <U+22EF>  1.4         93.918
14    no      cellular  may   <U+22EF> -1.8         92.893
15    no      cellular  nov   <U+22EF> -0.1         93.200
16    no      cellular  nov   <U+22EF> -0.1         93.200
17    no      telephone jun   <U+22EF>  1.4         94.465
18    no      cellular  apr   <U+22EF> -1.8         93.075
19    no      telephone may   <U+22EF>  1.1         93.994
20    no      cellular  apr   <U+22EF> -1.8         93.075
21    no      telephone may   <U+22EF>  1.1         93.994
22    no      cellular  may   <U+22EF> -1.8         92.893
23    no      cellular  may   <U+22EF> -1.8         92.893
24    no      telephone may   <U+22EF>  1.1         93.994
25    no      telephone may   <U+22EF>  1.1         93.994
26    no      telephone jun   <U+22EF>  1.4         94.465
27    unknown telephone nov   <U+22EF> -0.1         93.200
28    no      telephone may   <U+22EF>  1.1         93.994
29    yes     cellular  jul   <U+22EF>  1.4         93.918
30    no      cellular  aug   <U+22EF>  1.4         93.444
<U+22EE>     <U+22EE> <U+22EE>  <U+22EE> <U+22F1> <U+22EE>     <U+22EE>
19971 no      cellular  aug   <U+22EF>  1.4         93.444
19972 no      cellular  aug   <U+22EF>  1.4         93.444
19973 no      telephone may   <U+22EF>  1.1         93.994
19974 unknown cellular  jul   <U+22EF> -2.9         92.469
19975 no      cellular  aug   <U+22EF>  1.4         93.444
19976 no      cellular  nov   <U+22EF> -0.1         93.200
19977 yes     cellular  aug   <U+22EF>  1.4         93.444
19978 no      telephone jun   <U+22EF>  1.4         94.465
19979 no      cellular  aug   <U+22EF>  1.4         93.444
19980 yes     cellular  aug   <U+22EF>  1.4         93.444
19981 no      cellular  oct   <U+22EF> -3.4         92.431
19982 no      cellular  aug   <U+22EF>  1.4         93.444
19983 no      telephone may   <U+22EF>  1.1         93.994
19984 no      telephone may   <U+22EF>  1.1         93.994
19985 no      cellular  jul   <U+22EF>  1.4         93.918
19986 yes     telephone may   <U+22EF>  1.1         93.994
19987 yes     cellular  sep   <U+22EF> -1.1         94.199
19988 no      telephone jul   <U+22EF>  1.4         93.918
19989 no      telephone may   <U+22EF>  1.1             NA
19990 no      cellular  oct   <U+22EF> -3.4         92.431
19991 no      cellular  sep   <U+22EF> -3.4         92.379
19992 no      cellular  aug   <U+22EF>  1.4         93.444
19993 no      cellular  aug   <U+22EF>  1.4         93.444
19994 no      cellular  may   <U+22EF> -1.8         92.893
19995 no      cellular  jul   <U+22EF>  1.4         93.918
19996 yes     cellular  jul   <U+22EF>  1.4         93.918
19997 no      cellular  may   <U+22EF> -1.8         92.893
19998 yes     cellular  may   <U+22EF> -1.8         92.893
19999 no      telephone jul   <U+22EF>  1.4         93.918
20000 yes     cellular  aug   <U+22EF>  1.4         93.444
      cons.conf.idx euribor3m nr.employed subscribe missing_age
1     -42.7         4.968     5228.1      0         0
2     -41.8         4.960     5228.1      0         0
3     -46.2         1.264     5099.1      0         0
4     -47.1         1.453     5099.1      0         0
5     -36.4         4.859     5191.0      0         0
6     -36.4         4.858     5191.0      0         0
7     -47.1         1.405     5099.1      1         0
8     -36.4         4.857     5191.0      0         0
9     -46.2         1.250     5099.1      0         0
10    -36.1         4.965     5228.1      0         0
11    -41.8         4.961     5228.1      0         0
12    -42.7         4.963     5228.1      0         0
13    -42.7         4.958     5228.1      0         0
14    -46.2         1.344     5099.1      0         0
15    -42.0         4.076     5195.8      1         0
16    -42.0         4.191     5195.8      0         0
17    -41.8         4.866     5228.1      0         0
18    -47.1         1.410     5099.1      0         0
19    -36.4         4.858     5191.0      0         0
20    -47.1         1.405     5099.1      0         0
21    -36.4         4.855     5191.0      0         0
22    -46.2         1.334     5099.1      0         0
23    -46.2         1.281     5099.1      0         0
24    -36.4         4.856     5191.0      0         0
25    -36.4         4.856     5191.0      0         0
26    -41.8         4.865     5228.1      0         0
27    -42.0         4.021     5195.8      0         0
28    -36.4         4.856     5191.0      0         0
29    -42.7         4.962     5228.1      0         0
30    -36.1         4.967     5228.1      0         0
<U+22EE>     <U+22EE>      <U+22EE>  <U+22EE>    <U+22EE>  <U+22EE>
19971 -36.1         4.965     5228.1      0         0
19972 -36.1         4.964     5228.1      0         0
19973 -36.4         4.860     5191.0      0         0
19974 -33.6         0.914     5076.2      0         0
19975 -36.1         4.966     5228.1      0         0
19976 -42.0         4.153     5195.8      0         0
19977 -36.1         4.965     5228.1      0         0
19978 -41.8         4.865     5228.1      0         0
19979 -36.1         4.965     5228.1      0         0
19980 -36.1         4.968     5228.1      0         0
19981 -26.9         0.754     5017.5      0         0
19982 -36.1         4.963     5228.1      0         0
19983 -36.4         4.864     5191.0      0         0
19984 -36.4         4.860     5191.0      0         0
19985 -42.7         4.968     5228.1      0         0
19986 -36.4         4.856     5191.0      0         0
19987 -37.5         0.877     4963.6      1         0
19988 -42.7         4.960     5228.1      0         0
19989 -36.4         4.859     5191.0      0         0
19990    NA         0.728     5017.5      1         0
19991 -29.8         0.773     5017.5      1         0
19992 -36.1         4.963     5228.1      0         0
19993 -36.1         4.963     5228.1      1         0
19994 -46.2         1.344     5099.1      0         0
19995 -42.7         4.968     5228.1      0         0
19996 -42.7         4.957     5228.1      1         0
19997 -46.2         1.299     5099.1      0         0
19998 -46.2         1.299     5099.1      0         0
19999 -42.7         4.960     5228.1      0         0
20000 -36.1         4.963     5228.1      0         0
      missing_campaign replace999 missing_pdays
1     0                0          0
2     0                0          0
3     0                0          0
4     0                0          0
5     0                0          0
6     0                0          0
7     0                1          1
8     0                0          0
9     0                0          0
10    0                0          0
11    0                0          0
12    0                0          0
13    0                0          0
14    0                0          0
15    0                0          0
16    0                0          0
17    0                0          0
18    0                0          0
19    0                0          0
20    0                0          0
21    0                0          0
22    0                0          0
23    0                0          0
24    0                0          0
25    0                0          0
26    0                0          0
27    0                0          0
28    0                0          0
29    0                0          0
30    0                0          0
<U+22EE>     <U+22EE>         <U+22EE>   <U+22EE>
19971 0                0          0
19972 0                0          0
19973 0                0          0
19974 0                0          0
19975 0                0          0
19976 0                0          0
19977 0                0          0
19978 0                0          0
19979 0                0          0
19980 0                0          0
19981 0                0          0
19982 0                0          0
19983 0                0          0
19984 0                0          0
19985 0                0          0
19986 0                0          0
19987 0                0          0
19988 1                0          0
19989 0                0          0
19990 0                0          0
19991 0                0          0
19992 0                0          0
19993 0                0          0
19994 0                0          0
19995 0                0          0
19996 0                0          0
19997 0                0          0
19998 0                0          0
19999 0                0          0
20000 0                0          0

In [264]:
# For previous variable

# We count the unique values frequency first
as.data.frame(table(train$previous))

  Var1 Freq
1 0    17120
2 1     2152
3 2      371
4 3      103
5 4       31
6 5       12
7 6        2

In [265]:
# We can either replace missing values by the median + tracking missing or creating categorical variables with a new category
# -> We will first try by assigning the median and tracking the missing data, we can improve this later for the modelling

# First step: new variable 
train$missing_previous <- ifelse(is.na(train$previous) == TRUE, 1, 0)

# Second step: replacing NA
train$previous[is.na(train$previous)]<-median(train$previous,na.rm=TRUE)

In [266]:
# Finally, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed will be replaced by the mean

# First step: new variables 
train$missing_emp.var.rate <- ifelse(is.na(train$emp.var.rate) == TRUE, 1, 0)
train$missing_cons.price.idx <- ifelse(is.na(train$cons.price.idx) == TRUE, 1, 0)
train$missing_cons.conf.idx <- ifelse(is.na(train$cons.conf.idx) == TRUE, 1, 0)
train$missing_euribor3m <- ifelse(is.na(train$euribor3m) == TRUE, 1, 0)
train$missing_nr.employed <- ifelse(is.na(train$nr.employed) == TRUE, 1, 0)

# Second step: replacing NA
train$emp.var.rate[is.na(train$emp.var.rate)]<-mean(train$emp.var.rate,na.rm=TRUE)
train$cons.price.idx[is.na(train$cons.price.idx)]<-mean(train$cons.price.idx,na.rm=TRUE)
train$cons.conf.idx[is.na(train$cons.conf.idx)]<-mean(train$cons.conf.idx,na.rm=TRUE)
train$euribor3m[is.na(train$euribor3m)]<-mean(train$euribor3m,na.rm=TRUE)
train$nr.employed[is.na(train$nr.employed)]<-mean(train$nr.employed,na.rm=TRUE)

In [267]:
# Checking missing values per variables in train
missing_values <- sapply(train, function(x) sum(is.na(x)))
missing_values

             client_id                    age                    job
                     0                      0                      0
               marital              education                default
                     0                      0                      0
               housing                   loan                contact
                     0                      0                      0
                 month            day_of_week               campaign
                     0                      0                      0
                 pdays               previous               poutcome
                     0                      0                      0
          emp.var.rate         cons.price.idx          cons.conf.idx
                     0                      0                      0
             euribor3m            nr.employed              subscribe
                     0                      0                      0
           missing_age       missing_campaign             replace999
                     0                      0                      0
         missing_pdays       missing_previous   missing_emp.var.rate
                     0                      0                      0
missing_cons.price.idx  missing_cons.conf.idx      missing_euribor3m
                     0                      0                      0
   missing_nr.employed
                     0